<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>ブログの作成が完了しました！</h1>
  <p>以下のブログが正常に作成されました:</p>
  <p>タイトル: <%= @blog.title %></p>
  <p>内容: <%= @blog.content %></p>
</body>
</html>
