<div class="container">
  <h1 class="title">田富調剤薬局</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">田富調剤薬局</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#gnavi" aria-controls="gnavi" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="gnavi">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">top</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">menu1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">menu2</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <article class="row">
    <div class="contents col-md-6">
      <ul class="row"> 
        <li class="col-sm-6 col-md-4">Content</li>
        <li class="col-sm-6 col-md-7">Vision</li>
        <li class="col-sm-6 col-md-7">Recruit</li>
        <li class="col-sm-6 col-md-4">IR</li>
      </ul>
    </div>
    <div class="topic col-md-6">
      <ul> 
        <li>地域医療に貢献！</li>
        <li>社会保険料の削減！</li>
        <li>積極的M＆Aによる会社拡大！</li>
      </ul>
    </div>
  </article>
</div>