html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

li {
    list-style:none;
}
ul {
    padding:0;
}

.title {
    font-size:20px;
    font-weight:bold;
    text-align:center;
}
.menu li {
    background-color:#012F4B;
    color:#fff;
    padding:5% 10%;
    text-align:center;
}
.contents li {
    background-color:hwb(112 5% 11%);
    color:#fff;
    padding:10% 5%;
    box-sizing: border-box;
    border: solid 1px #fff;
}
.topic li {
    margin:1%;
    border-bottom: dotted 1px #333333;
}
.container {
    margin-top:20px;
    padding-bottom: 100px;
}

header {
  width: 100%;
  background-color: hsl(121, 51%, 35%);
  height: 54px;
  margin: 0
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  background-color:hsl(121, 51%, 35%);
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}